/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L   |  U  |  Y  |  ;  | ALT |
// | CTRL |  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  |  O  |  ENT   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  | SHFT  |
//                    | CMD | Lyr1 | Lyr2 |   | BKSP | SPC  | CMD |
                        bindings = <
     &kp TAB   &kp Q &kp W &kp F &kp P &kp G   &kp J &kp L  &kp U     &kp Y   &kp SEMI    &kp LALT
   &kp LCTRL &kp A &kp R &kp S &kp T &kp D   &kp H &kp N  &kp E     &kp I   &kp O &kp RET
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                  &kp LCMD &mo 1 &mo 2   &kp BSPC &kp SPACE &kp RCMD
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |  1  |  2  |  3 |     |   |     |     |  UP |  9  |  -  | ALT |
// |      |     |  4  |  5  |  6 |     |   |     | LFT | DWN | RGT |  '  | ENT  |
// | SHFT |     |  7  |  8  |  9 |     |   |     |     |     |     |     | SHFT |
//                    |  0  |xxx | SPC |   | DEL | SPC | CMD |
                        bindings = <
   &kp TAB    &trans   &kp N1    &kp N2   &kp N3      &trans        &trans   &trans   &kp UP    &kp N9     &kp MINUS &kp LALT
   &trans     &trans   &kp N4    &kp N5   &kp N6      &trans        &trans   &kp LEFT &kp DOWN  &kp RIGHT  &kp SQT    &kp RET
   &kp LSHFT  &trans   &kp N7   &kp N8    &kp N9      &trans        &trans   &trans   &trans    &trans     &trans    &kp RSHIFT
                        &kp N0   &trans   &kp SPACE   &kp DEL      &kp SPACE &kp RCMD
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #   |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | ALT |
// | CTRL |BT0  |BT2  |VOL_UP|     |     |   |  '' |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |BT1  |BTCL |VOL_DN|     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI  |     | xxx |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL     &kp AT       &kp HASH     &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp LALT
   &kp LCTRL &bt BT_SEL 0 &bt BT_SEL 2 &kp C_VOL_UP &trans   &trans      &kp DQT &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &bt BT_SEL 1 &bt BT_CLR   &kp K_VOL_DN &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &trans   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
//comment
